body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.grid {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 120px 0 20px;
}

.option {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    height: 50px;
    width: 100px;
}

.bold {
    font-weight: bold;
}
